# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
out/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet packages
*.nupkg
.nuget/
packages/
*.snupkg

# Dotnet CLI
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.log
*.vs/
TestResults/
*.dbmdl
*.pdb

# Environment files
.env
.env.*